{% extends "layout.html" %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}

<div class="w3-content w3-container w3-padding-64" id="contact">
    <h3 class="w3-center">WHERE I WORK</h3>
    <p class="w3-center"><em>I'd love your feedback!</em></p>
  
    <div class="w3-row w3-padding-32 w3-section">
      
      <div class="w3-col m8 w3-panel">
        <div class="w3-large w3-margin-bottom">
          <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Chicago, US<br>
          <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +00 151515<br>
          <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: mail@mail.com<br>
        </div>
        <p>Swing by for a cup of <i class="fa fa-coffee"></i>, or leave me a note:</p>
        <form method="POST">
            <dl>
                {{ render_field(form.name,class = "form-control") }}
                {{ render_field(form.email,class = "form-control") }}
                {{ render_field(form.message,class = "form-control") }}
              </dl>
              <button type="submit" class="btn btn-outline-dark">SEND MESSAGES</button>
        
        
        
        
        
        </form>
      </div>
    </div>
  </div>
  







{% endblock body %}